<!DOCTYPE html>
<html lang="en" class="is-animating">
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-150220538-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-150220538-1');
    </script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Margaux Précloux - Gallery.</title>
    <meta name="description" content="Exhibit - Frontend Developer @ EmakinaFR Limoges">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
<main id="swup">
    <header>
        <div class="header__container">
            <div class="header__name">
                <span>Usually the <strong>name</strong></span>
            </div>
            <div class="header__logo">
                <a href="/">
                    <span>A nice<strong>logo</strong></span>
                </a>
            </div>
            <div class="header__about-link">
                <a href="/about.html">The <strong>about-me</strong> button</a>
            </div>
        </div>
    </header>
    <div id="container" class="container" data-scroll>
        <section class="flex-container flex-direction-column transition-fade delay-1 round">
            <h1>Permanent <br/>exhibition</h1>
            <p>of what I do with my free time</p>
            <div class="scroll-down__container">
                <div class="link-item"></div>
            </div>
        </section>
        <section id="gallery" class="background__yellow transition-fade-reverse delay-2 flex-container">
            <canvas id="canvas-wave" class="yellow"></canvas>
            <div class="column__wrapper">
                <div class="column__content">
                    <div data-tilt class="card link-item" data-id="01" data-number-images="3"><img src="<%= require('../images/gallery/01.jpg') %>" alt=""></div>
                    <div data-tilt class="card link-item" data-id="02" data-number-images="4"><img src="<%= require('../images/gallery/02.jpg') %>" alt=""></div>
                    <div data-tilt class="card link-item" data-id="03" data-number-images="4"><img src="<%= require('../images/gallery/03.jpg') %>" alt=""></div>
                    <div data-tilt class="card link-item" data-id="04" data-number-images="4"><img src="<%= require('../images/gallery/04.jpg') %>" alt=""></div>
                </div>
            </div>
        </section>
    </div>
</main>
<footer>
    <span>
        Margaux Précloux 2019.
    </span>
</footer>
<div class="background__container"></div>
<div class="cursor__container">
    <div class="custom__cursor cursor--outer"></div>
    <div class="custom__cursor cursor--inner"></div>
</div>
</body>
</html>
