<!DOCTYPE html>
<html lang="en" class="is-animating">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-150220538-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-150220538-1');
    </script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Margaux Précloux - Portfolio 2019.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="keywords"
          content="portfolio, frontend developer, VueJS, Ecommerce, Salesforce Commerce Cloud, Magento2, Proximis, Angularjs, media, Webdesign, coding, Limoges, Emakina, Licence Webdesign Sensoriel, MMI, Métiers du Multimédia et de l'internet">
    <meta name="description" content="Frontend Developer @ EmakinaFR Limoges">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<main id="swup">
    <header>
        <div class="header__container">
            <div class="header__name">
                <span>Usually the <strong>name</strong></span>
            </div>
            <div class="header__logo">
                <a href="/" title="Logo">
                    <span>A nice<strong>logo</strong></span>
                </a>
            </div>
            <div class="header__about-link">
                <a href="/about.html" title="Get to know me">The <strong>about-me</strong> button</a>
            </div>
        </div>
    </header>
    <div id="container" class="container" data-scroll>
        <section class="flex-container flex-direction-column round transition-fade delay-1">
            <h1>As a Frontend <br/> developer</h1>
            <h2>I do e-commerce platforms</h2>
            <p>and enjoy providing nice user experiences. 🚀</p>
            <p class="margins">
                <a href="/about.html" title="Get to know me" class="big yellow">get to know me</a>
            </p>
            <div class="scroll-down__container">
                <div class="link-item"></div>
            </div>
        </section>
        <section class="background__pink transition-fade-reverse flex-container flex-justify-center delay-2">
            <canvas id="canvas-wave"></canvas>
            <div class="skills__container text-center">
                <p class="big-text">I do some other <br/>things</p>
                <p>
                    Like <a href="/gallery.html" title="Permanent exhibition">drawing</a>, listening to fancy music of
                    all kinds and learning the piano.
                </p>
            </div>
        </section>
    </div>
</main>
<footer>
    <span class="js-footer"></span>
</footer>
<div class="background__container"></div>
<div class="cursor__container">
    <div class="custom__cursor cursor--outer"></div>
    <div class="custom__cursor cursor--inner"></div>
</div>
</body>
</html>
